<div class = "row user_valuation_box"> 
	<div class = "col-md-8 valuation_contents">
		<div class = "user_section">
			<h4 class = "nickname_attr"> <%= v.user.nickname %></h4> <span class = "nickname_mgn"> 님의 평가</span>
		</div>

		<!-- border-bottom 아래 -->
		<div class = "row row_pd_top">
			<div class = "col-md-4">
				<h4><%= v.lecture.subject %></h4>
					<%= v.lecture.professor %>
			</div>

			<div class = "col-md-8">
				<!-- grade : 학점 -->
				<div>
					<div class = "valuation_item grade">
						학점
					</div>
					<%= render 'shared/show_progress_bar', :var => v.grade%>
				</div>
				<!-- workload : 공부량 -->
				<div>
					<div class = "valuation_item grade">
						공부량
					</div>
					<%= render 'shared/show_progress_bar', :var => v.workload%>
				</div>
				<!-- level : 난이도 -->
				<div>
					<div class = "valuation_item grade">
						난이도 
					</div>
					<%= render 'shared/show_progress_bar', :var => v.level%>
				</div>
				<!-- achievement : 성취감 -->
				<div>
					<div class = "valuation_item grade">					
						성취감
					</div>
					<%= render 'shared/show_progress_bar', :var => v.achievement%>
				</div>
				<!-- total : 총평 -->
				<div class = "total">
					<div class = "valuation_item">
						총평 
					</div>
					<%= render 'shared/show_star', :var => v.total %>
				</div>

				<div>
					<div>					
						의견
					</div>
					<div>
						<%= truncate v.content, length: 20%>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>