
<tr class="lovelyrow" onclick="showLecture(<%=lec.id%>)">
  <td width= "50px", id="tb_unspot"><%=lec.professor%> </td>


  <td width="140px", id="tb_spot"><%= lec.subject%><%=image_tag("comment.png", alt: "댓글그림", height: "20px") %>
  <font color='red'>[<%= lec.comments.count %>]</font>
  </td>
    <!-- 업/다운 이미지 적용? -->
    <%if !Valuation.find_by(lecture_id: lec.id, user_id: lec.comments.first.user_id).nil? %>
          <%if Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).up ==1 %>
            <td width="500px",align="left"> <%=image_tag("thumbs-up.png", alt: "업손가락", height: "20px") %><%=truncate(lec.comments.first.content, length: 50) %>
            </td>
          <%elsif Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).down ==1 %>
            <td width="500px",align="left"> <%=image_tag("thumbs-down.png", alt: "다운손가락", height: "20px") %><%=truncate(lec.comments.first.content, length: 50) %>
            </td>
          <%end%>
    <!-- 업 다운 이미지 적용 X -->
    <% else %>
      <td width="500px"> <%=truncate(lec.comments.first.content, length: 50) %> </td>   
    <% end %>             
</tr>