
<div class = "row user_valuation_box"> 
	<div class = "col-md-8 valuation_contents" onclick="showLecture(<%=v.lecture.id%>)" onmouseover="valuation_mouseover(this)" >
		
		<%if current_page? controller: 'static_pages', action:'home' %>

			<div class = "user_section">
				<h4 class = "nickname_attr"><%= v.lecture.subject %> </h4> <span class = "nickname_mgn"><%= v.lecture.professor %> 교수님</span>
			</div>

		<% end %>

		<!-- border-bottom 아래 --> 
		<div class = "row row_pd_top">
			<div class = "col-xs-6">
				<div style = "height : 40px">
					<h4 style = "width : 150px; display: inline; font-weight:bold;"><%= v.user.nickname %></h4> 님의 평가
					<div style = "width : 150px; display: inline; margin-left:5px"><%= v.timestamp_division %></div>
				</div>

				<div>
					<!-- 만약 현재페이지가 staticpages#home  -->
					<% if current_page? controller: 'static_pages', action: 'home'%>
						<%= truncate v.content, length: 50%>.. 
						<a onclick="showLecture(<%=v.lecture.id%>)">자세히보기</a>
					<% else %>	
						<%= v.content %>
					<% end %>
					<!-- truncate 보여주기 -->

					<!-- 만약 현재페이지가 lectures#show -->
					<!-- 다 보여주기 -->
					
				</div>	
			</div>

			<div class = "col-xs-5">
				<!-- grade : 학점 -->
				<div style = "width : 100%" id = "level">
					<div class = "valuation_item grade" >
						난이도
					</div>

					<div class="progress level" id = "home_progress">
						<%= render 'shared/show_progress_bar', :var => v.level,
							color: "info"%>

					</div>
				</div>
				<!-- workload : 공부량 -->
				<div>
					<div class = "valuation_item grade">

						학점
					</div>
					<div class="progress" id = "home_progress">
						<%= render 'shared/show_progress_bar', :var => v.grade,
							color: "success"%>

					</div>
				</div>
				<!-- level : 난이도 -->
				<div>
					<div class = "valuation_item grade">
						공부양 
					</div>

					<div class="progress" id = "home_progress" >
						<%= render 'shared/show_progress_bar', :var => v.workload,
							color: "warning"%>

					</div>
				</div>
				<!-- achievement : 성취감 -->
				<div>
					<div class = "valuation_item grade">					
						과제양
					</div>

					<div class="progress" id = "home_progress" >
						<%= render 'shared/show_progress_bar', :var => v.homework, color: "danger"%>
					</div>
				</div>

				<div>
					<div class = "valuation_item grade">					
						성취감
					</div>
					<div class="progress" id = "home_progress" >
						<%= render 'shared/show_progress_bar', :var => v.achievement, color: "info"%>

					</div>
				</div>
				<!-- total : 총평 -->
				<div class = "total">
					<div class = "valuation_item">
						총평 
					</div>
					<!-- show_star의 재사용성을 위해 div .valuation_star 끄집어냄 -->
					<div class = "valuation_star">
						<%= render 'shared/show_star', :var => v.total %>
					</div>
				</div>

				
			</div>
		</div>

	</div>
</div>

<script>
	function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>3 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>  
       <% else %>
          $.fancybox({
            type: 'iframe',
            href: '/forcinglogin',
              'scrolling' : 'no',
                'padding' : 20,
                'width'   :400,
                'height'  :300,
                'transitionIn'    :    'none',
                'transitionOut'    :    'none',
                'speedIn'        :    400,
                'speedOut'        :    200,
                'autoDimensions'  : false,
                'overlayShow'    :    true
          });
       <% end %>        
  }

  	function valuation_mouseover(valuation_content)
  	{

  	}


</script>