<a href = "<%= lecture_path(v.lecture)%>" style = "color : black">
<div class = "row user_valuation_box"> 
	<div class = "col-md-8 valuation_contents">
		<div class = "user_section">
			<h4 class = "nickname_attr"><%= v.lecture.subject %> </h4> <span class = "nickname_mgn"><%= v.lecture.professor %> 교수님</span>
		</div>

		<!-- border-bottom 아래 --> 
		<div class = "row row_pd_top">
			<div class = "col-md-6">
				<div style = "height : 40px">
					<h4 style = "width : 150px; display: inline;"><%= v.user.nickname %>님의 평가</h4> 
					<div style = "width : 150px; display: inline; margin-left:5px"><%= v.timestamp_division %></div>
				</div>

				<div>
					<%= truncate v.content, length: 50%>
				</div>	
			</div>

			<div class = "col-md-5">
				<!-- grade : 학점 -->
				<div>
					<div class = "valuation_item grade">
						학점
					</div>
					<div class="progress" >
						<%= render 'shared/show_progress_bar', :var => v.grade%>
					</div>
				</div>
				<!-- workload : 공부량 -->
				<div>
					<div class = "valuation_item grade">
						공부양
					</div>
					<div class="progress" >
						<%= render 'shared/show_progress_bar', :var => v.workload%>
					</div>
				</div>
				<!-- level : 난이도 -->
				<div>
					<div class = "valuation_item grade">
						난이도 
					</div>
					<div class="progress" >
						<%= render 'shared/show_progress_bar', :var => v.level%>
					</div>
				</div>
				<!-- achievement : 성취감 -->
				<div>
					<div class = "valuation_item grade">					
						성취감
					</div>
					<div class="progress" >
						<%= render 'shared/show_progress_bar', :var => v.achievement%>
					</div>
				</div>
				<!-- total : 총평 -->
				<div class = "total">
					<div class = "valuation_item">
						총평 
					</div>
					<!-- show_star의 재사용성을 위해 div .valuation_star 끄집어냄 -->
					<div class = "valuation_star">
						<%= render 'shared/show_star', :var => v.total %>
					</div>
				</div>

				
			</div>
		</div>

	</div>
</div></a>