
<div class = "row"> 

    <div class="col-sm-8 col-sm-offset-2" style="display:inline;">
     <%= form_tag home_path, :method => 'get', :class =>'form-inline',
          :style => 'text-align:center;' do %>
        <%= text_field_tag :search, params[:search], placeholder: :"과목 또는 교수님명을 입력해주세요!" ,:class => 'form-control  form-group' ,:style => "width:40%;"%>
        <%= submit_tag "찾아줘!", data: { disable_with: "검색 중..." }, :class =>'btn btn-success', :style =>"width:15%;" %>
     <% end %>
    </div>
    <div class="col-sm-2"></div>

</div>  

  <div class="col-sm-6 col-sm-offset-4" style="
    margin-left: 30.5%;">
      자주 찾는 검색어 : 서양고전강독, 경영학원론, 노용덕, 박기호</div>
  <div class="col-sm-8 col-sm-offset-2" style="border-bottom: 3px solid #8FCEFF;margin-top:3%;"></div>

<div class="table-responsive sort_paginate_ajax" id="searchtables">
    <%= render 'searchtables' %>

</div> 

   
   





<script>
function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>=2 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>  
       <% else %>
          window.location="<%=root_url%>"
      <% end %>        
  }

</script>
