
  <br><br>

  <div class="table-responsive">
        <table class="table nogap">
         <thead>
      
         <tr class> 

   
           <th >오늘</th>
           
         </tr>
         </thead>
    	 <tbody>   
    
          	<% @lectures.each do |lec| %>
          	<%if lec.comments.any? %>         <!-- 1 강의 댓글이 있니 ? -->
                <%if lec.comments.first.timestamp_today? %> 
          <!-- 2 강의의 첫번째 댓글의 타임스탬프가 오늘이니?-->
              <tr class="lovelyrow" onclick="showLecture(<%=lec.id%>)" >
              <td width= "50px", id="tb_unspot"><%=lec.professor%> </td>

              
              <td width="140px", id="tb_spot"><%= lec.subject%><%=image_tag("comment.png", alt: "댓글그림", height: "20px") %><font color='red'>[<%= lec.comments.count %>]</font></td>
                <%if !Valuation.find_by(lecture_id: lec.id, user_id: lec.comments.first.user_id).nil? %>
                          <%if Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).up ==1 %>
                               <td width="500px",align="left"> <%=image_tag("thumbs-up.png", alt: "업손가락", height: "20px") %><%=truncate(lec.comments.first.content %> </td>
                          <%elsif Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).down ==1 %>
                               <td width="500px",align="left"> <%=image_tag("thumbs-down.png", alt: "다운손가락", height: "20px") %><%=truncate(lec.comments.first.content %> </td>

                      
                           <%end%>
                <%else %>
                            <td width="500px"> <%=truncate(lec.comments.first.content %> </td>   
                <%end%>             
           
          		</tr>

             	    <% end %>
                 
               <% end %>
                 <%end %>   
   	   	</tbody>
   
   	   	</table>


          <table class="table nogap">
         <thead>
      
         <tr class> 

   
           <th>어제</th>
           
         </tr>
         </thead>
       <tbody>   
   
              <% @lectures.each do |lec| %>
              <%if lec.comments.any? %>  
             <%if lec.comments.first.timestamp_yesterday? %>    
              <tr class="lovelyrow" onclick="showLecture(<%=lec.id%>)" >
              <td width= "50px", id="tb_unspot"><%=lec.professor%> </td>

              
              <td width="140px", id="tb_spot"><%= lec.subject%><%=image_tag("comment.png", alt: "댓글그림", height: "20px") %><font color='red'>[<%= lec.comments.count %>]</font></td>
                <%if !Valuation.find_by(lecture_id: lec.id, user_id: lec.comments.first.user_id).nil? %>
                          <%if Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).up ==1 %>
                               <td width="500px", align="left"> <%=image_tag("thumbs-up.png", alt: "업손가락", height: "20px") %><%=truncate(lec.comments.first.content %> </td>
                          <%elsif Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).down ==1 %>
                               <td width="500px", align="left"> <%=image_tag("thumbs-down.png", alt: "다운손가락", height: "20px") %><%=truncate(lec.comments.first.content %> </td>

                      
                           <%end%>
                <%else %>
                            <td width="500px"> <%=truncate(lec.comments.first.content %> </td>   
                <%end%>             
           
              </tr>
                 <% end %>
                 <% end %>
                     <%end %>   
        </tbody>

        </table>

         <table class="table nogap">
         <thead>
      
         <tr class> 

   
           <th>예전에....</th>
           
         </tr>
         </thead>
       <tbody>   
   
              <% @lectures.each do |lec| %>
                <%if lec.comments.any? %>  
                  <%if !(lec.comments.first.timestamp_today?) && !(lec.comments.first.timestamp_yesterday?) %>   
             <tr class="lovelyrow", id="showLec", onclick="showLecture(<%=lec.id%>)" >
              <td width= "50px", id="tb_unspot"><%=lec.professor%> </td>

              
              <td width="140px", id="tb_spot"><%= lec.subject%><%=image_tag("comment.png", alt: "댓글그림", height: "20px") %><font color='red'>[<%= lec.comments.count %>]</font></td>
                <%if !Valuation.find_by(lecture_id: lec.id, user_id: lec.comments.first.user_id).nil? %>
                          <%if Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).up ==1 %>
                               <td width="500px" align="left"> <%=image_tag("thumbs-up.png", alt: "업손가락", height: "20px") %><%=truncate(lec.comments.first.content %> </td>
                          <%elsif Valuation.find_by(lecture_id: lec.id,user_id: lec.comments.first.user_id).down ==1 %>
                               <td width="500px" align="left"> <%=image_tag("thumbs-down.png", alt: "다운손가락", height: "20px") %><%=truncate(lec.comments.first.content %> </td>

                      
                           <%end%>
                <%else %>
                            <td width="500px"> <%=truncate(lec.comments.first.content %> </td>   
                <%end%>             
           
              </tr>
              
                       <%end %>
                  <%end %>  
                     <%end %>   
        </tbody>

        </table>


   	   	</div>
   	   	</div>

 	 

  	</div> 
 
	<div class="col-md-2"></div >	 

   

</div>    

<div class="row">
  <div class="col-md-2"></div>   
  <div class="col-md-8" align="center">


	</div>
	<div class="col-md-2"></div>
	</div>
	

<script>
  function showLecture(lec_num)
  {
  <% if user_login? %>
      $.fancybox({
        type: 'iframe',
        href: '/lectures/'+lec_num.toString(),
          'scrolling' : 'yes',
            'padding' : 20,
            'width'   :1200,
            'height'  :600,
            'transitionIn'    :    'none',
            'transitionOut'    :    'none',
            'speedIn'        :    400,
            'speedOut'        :    200,
            'autoDimensions'  : false,
            'overlayShow'    :    true

      });
   <% else %>
            window.location="/auth/facebook"
   <% end %>        
  }
</script>
