
<div class = "row"> 

    <div class="col-sm-6 col-sm-offset-3" style="display:inline;" id ="form1">
     <%= form_tag home_path, :method => 'get', :class =>'form-inline',
          :style => 'text-align:center;' do %>
        <%= text_field_tag :search, params[:search], placeholder: :"강의명, 교수명을 입력하고 엔터로 검색하기." ,:class => 'form-control  form-group' ,:style => "width:40%;"%>
        <%= submit_tag "찾아줘!", data: { disable_with: "검색 중..." }, :class =>'btn btn-success', :style =>"width:10%;" %>
     <% end %>
    </div>
    <div class="col-sm-2"></div>

</div>  

  <div class="col-sm-6 col-sm-offset-4" style="
    margin-left: 34%;">
      자주 찾는 검색어 : 서양고전강독, 경영학원론, 노용덕, 박기호</div>

    <div class = "row">
      <div class = "col-sm-2 col-sm-offset-3">
        <div class= "dropdown_box">
          <h3>학과별로 보기</h3>
          <%= render 'dropdown_btns_home'%>
        </div>
      </div>
    </div> 
<div class="table-responsive sort_paginate_ajax" id="searchtables">
    <%= render 'searchtables' %>

</div> 

   
   





<script>
function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>=2 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>  
        <% else %>
          window.location="<%=root_url%>"
       <% end %>        
  }

</script>
