<% if !lectures.nil? %>

      
        <% if lectures.nil? %>

        <div> 검색결과가 없습니다.. </div>
        <% else %>
          <% lectures.each do |lec| %>
        
          <% if lec.lecturetime.nil? %> 
              <div class="list-group"  style="width:80%;border:1px solid #f5f5f5;margin-bottom:0;">
                <h4> <%=lec.subject %> 
             
                <span style="float:right;"> 
                  <a data-toggle="tooltip" class="tooltipLink" data-original-title="학생들이 담은 과목입니다."> 
                  <i class="glyphicon glyphicon-user"> </i>
                  </a>
                  10
                </span>
                </h4>

                <p><%=lec.professor%>/장소 </p>
              </div>


              
            
          <% elsif lec.lecturetime.count==2 %>

            <%for i in 0..2%>
             <div class="list-group" style="width:80%;border:1px solid #f5f5f5;margin-bottom:0;">
                <h4> <%=lec.subject %> 
                <span style="float:right;">
                        <a data-toggle="tooltip" class="tooltipLink" data-original-title="학생들이 담은 과목입니다."> 
                        <i class="glyphicon glyphicon-user"> </i>
                        </a>
                        10
                </span>
                </h4>

                <p><%=lec.professor%>/장소 </p>
              </div>
           
            <%end%> 
          <% end %>
        <% end %>
     
        <%= will_paginate lectures, :class=>'paginate'%>
      <% end %>
            <% end %>

<script>

$(document).ready(function(){
      $("a.tooltipLink").tooltip();
});

</script>
