  <table class="table nogap">
         <thead>
      
         <tr class> 

           <th>교수명</th>
           <th>강의명</th>
           <th>평점</th>
           
         </tr>
         </thead>
    	 <tbody>     
		<% @lectures.each do |lec| %>
	
    <tr class="lovelyrow" onclick="showLecture(<%=lec.id%>)" >
    <td id="tb_unspot" width="10%"><%=lec.professor%> </td>
    <td id="tb_spot" width="30%"><%= lec.subject%></td>
    <td text-align="left" width="20%"> <div id="div_total"><%= lec.acc_total %> </div><%= render 'shared/show_average_star',:var=> lec.acc_total%> </td>

		</tr>

   	   <% end %>
   	   	</tbody>
   	   	</table>
     <div align='center'>   
   	   <%= will_paginate @lectures %>
     </div>
 
