<br><br>

<div class = "container">
  <div class = "row">
    <div class="col-sm-4 col-sm-offset-2" style="margin-left: 34%;">
      <% if params[:search] %>
      </div>

    <div class="col-sm-8 col-sm-offset-2">
      <div class = "table-responsive" style = "font-size:13px">
      <font color="blue"><%=@lectures.count %>개 </font> 검색결과
      <div class ="search_box">
        <table class="table nogap">
               <thead>
             <tr align="center" class = "tr_style">

               <th width="10%" class = "text_gray">학기</th>
               <th width="25%" class = "text_gray">과목명</th>
               <th width="15%" class = "text_gray">교수</th>
               <th width="40%" class = "text_gray">평균평점</th>
               <th witdh="5%" class = "text_gray">조회수</th>
               
             </tr>
             </thead>
        	 <tbody></tbody>   
     
    		<% @lectures.each do |lec| %>
    	
          <tr class="lovelyrow" onclick="showLecture(<%=lec.id%>)" >
          <td id="tb_unspot">준비중</td>
           <td id="tb_spot"><%= lec.subject%></font></td>
          <td id="tb_unspot" ><%=lec.professor%> </td>  
          <td id="total_spot" >
              <div id="div_total">
              <% if lec.acc_total==0 %>
                평가없음
              <% else %> 
                <%= lec.acc_total.round(2) %>
                </div>
                <%= render 'shared/show_average_star',:var=> lec.acc_total%>
              <% end %> 
          </td>
          
          <td id="tb_unspot" ><%=Random.rand(0...50)%></td>


    		</tr>

       	   <% end %>
       	   	</tbody>

       	   	</table>

    </div>      
        <% if @lectures.count ==0 %> 
          <font color="gray"><h3>검색 결과가 없습니다. </h3></font>
        <%end %>
        
  </div>

     
       <div align='center'>   
     	   <%= will_paginate @lectures %>
       </div>
  <% end %> 
</div>
