<div class="container-fluid forcingwritting_box">
	 <div id="form2">

	 <p>아뭐듣지는 학우들에게 실제 강의 후기를 들려줍니다. <br>
	 많은 학우들에게 도움이 되기 위해 <br>
	 강의평가 4회 이상 부탁드립니다.</p>

	 <h2>강의 평가 <%=4-current_user.valuations.count%>번 남았어요 ! </h2>
   <div align="center">

       <div  id="form1">
                  <%= form_tag forcingwritting_path, :method => 'get', :class =>'form-inline' do %>
                    <%= select_tag "search_from", "<option>강의</option><option>교수</option><option>개설학과</option>".html_safe, :class => 'form-control  form-group',:style => "max-width:20%"%>
                    <%= text_field_tag :search, params[:search], placeholder: :"빈칸은 모든과목검색",:class => 'form-control  form-group' ,:style => "width:50%"%>
                    <%= submit_tag "찾아줘!", :subejct => nil, :class => 'btn btn-default' %>
                  <% end %>
      </div>
  </div>    
     </div>

     <br><br>
     <div class="sort_paginate_ajax" id="forcingwrittinglectures">
		     <%= render 'shared/forcingwrittinglectures' %>
     </div>

</div>
<script>
	function gotowrittingform(lec_num)
	{
		window.location = "/lectures/"+lec_num.toString()+"/writtingform" ;

	}

</script>
