
 <div align="center">

       <div  id="form1">
                  <%= form_tag root_path, :method => 'get', :class =>'form-inline' do %>
                    <%= select_tag "search_from", "<option>강의</option><option>교수</option><option>개설학과</option>".html_safe, :class => 'form-control  form-group',:style => "max-width:10%"%>
                    <%= text_field_tag :search, params[:search], placeholder: :"빈칸은 모든과목검색",:class => 'form-control  form-group' ,:style => "width:50%"%>
                    <%= submit_tag "찾아줘!", :subejct => nil, :class => 'btn btn-default' %>
                  <% end %>
      </div>
  </div>    

<div class="row" id="recent">
	<div class="col-md-8 col-md-offset-2"  align="left">

    <!-- 학과 선택 dropdown -->
    <div class="btn-group">
        <button class="btn btn-default btn-lg dropdown-toggle" id = "border-none" data-toggle="dropdown">
          모든학과 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><%= link_to '모든학과', root_path(:lecture_name => '모든학과') %></li>
          <li><%= link_to '컴퓨터공학과', root_path(:lecture_name => '컴퓨터공학과'), remote: true %></li>
          <li><%= link_to '전자공학과', root_path(:lecture_name => '전자공학과') %></li>
          <li><%= link_to '광전자공학과', root_path(:lecture_name => '광전자공학과') %></li>
          <li><%= link_to '디지털콘텐츠학과', root_path(:lecture_name => '디지털콘텐츠학과') %></li>
          <li><%= link_to '정보보호학과', root_path(:lecture_name => '정보보호학과') %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to '자유교양', root_path(:lecture_name => '교양학부') %></li>
        </ul>
    </div>
    <!-- 학과 선택 dropdown -->

  



  <%= render 'home_daemoon'%>
  
  

  </div> <!-- col-md-8 -->
</div>  <!-- row -->


<div class = "row">
  <div class = "col-md-9 col-md-offset-2">
    <div id="lecturelist">
      <% if params[:search] %> 
        <%= render 'home_search' %>
      <% else %>
        <%= render 'home_user' %>
      <% end %>
    </div>
  </div>
</div>




<script>
   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });

  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>')
  <% end %>

  $(function(){

    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });

});

</script>