<div class="row" id="recent">

	<div class="col-md-2"></div>   
	<div class="col-md-8"  align="left">
		<h1> 최근 강의 평가</h1>
	 <div id="form1">
		<%= form_tag root_path, :method => 'get' do %>
 
      <%= select_tag "search_from", "<option>강의</option><option>교수</option><option>개설학과</option>".html_safe%>
     <%= text_field_tag :search, params[:search], placeholder: :"빈칸 = 모든과목 검색" %>
          <%= submit_tag "찾아줘!", :subejct => nil %>
       
      <% end %>
     </div>
     <br><br>
     <div id="lecturelist">
      
            <% if params[:search] %> 
            <%= render 'home_search' %>
            <% else %>
            <%= render 'home_user' %>
            <%end%>

    </div>
    