	<h4> 강의&nbsp;&nbsp; 교수명 &nbsp;&nbsp; 개설학과 </h4>
	<% @lectures.each do |lec| %>
		<%= lec.subject%> <%=lec.professor%> <%= lec.major%> &nbsp;&nbsp;&nbsp;&nbsp;
		<%= lec.lecturetime%>
		<%= link_to "Show",   lecture_path(lec) %>  &nbsp; <%= link_to "Edit", 
		edit_lecture_path(lec)%>  &nbsp;
		<%= link_to "Destroy", lecture_path(lec), method: :delete, data: {confirm: "Are you sure you want to delete this? (#{lec.subject})"}%> <br>
	<% end %>

	<%= will_paginate @lectures %>

	<%= link_to "New_Lecture", new_lecture_path %>
	
	<div style = "width:50%">
		<%= form_tag import_lectures_path, multipart: true do %>
			<%= file_field_tag :file %>
			<%= submit_tag "Import" %>
		<% end %>
	</div>
