
 

<div class="row" id="recent">
	<div class="col-md-8 col-md-offset-2"  align="left">

    <%= render 'dropdown_btns'%>
    <!-- 학과 선택 dropdown -->
    
    <%= render 'home_daemoon'%>
  
  </div> <!-- col-md-8 -->
</div>  <!-- row -->


<div class = "row">
 
  
      <% if params[:search] %> 
        <div id="lecturelist">
            <%= render 'home_search' %>
        </div>
      <% else %>
      <div class = "col-xs-9 col-xs-offset-2"> 
            <div id="valuationlist">
              <%= render 'home_user' %>
            </div>
      </div>  
      <% end %>


</div>




<script>

   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 

  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>')
  <% end %>

  $(function(){

    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });

});

</script>