
 
<div class = "newsfeed_box">
  <div class = "recent_valuations">
    <div id="recent">
        <div class = "jumbotron">
          <%= render 'dropdown_btns'%>
          <h5 class = "v_text"> 오늘의 평가 
            <b id = "v_today_count"><%= @count_of_today %></b>개 
          </h5>
          <h5 class = "v_text"> 총 평가
            <b id = "v_total_count"><%= @valuations.count%></b>개
          </h5>
        </div>
    </div>  <!-- recent -->

  <div class = "valuation_subject"> 
    <% if @major_name.nil? %>
      <span style = "font-size : 20px;" id = "major_name">
      모든학과의 최근평가     
      </span>
    <% else %>
      <h4><%= @major_name %>의 최근평가</h4>

    <% end %>
  </div>

  <div class="valuationlist">
    <%= render 'home_user' %>
  </div>
  
  </div> <!-- recent_valuations -->
</div>  <!-- newsfeed box -->



<script>
   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 
  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>')
  <% end %>
  $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });
});
</script>