<div class = "temp_box">

  <div class = "search_box">
    <%= form_tag newsfeed_path, :method => 'get', :class =>'form-inline',
        :style => 'text-align:center;' do %>
      <%= text_field_tag :search, params[:search], placeholder: :"과목 또는 교수님명을 입력해주세요!" ,:class => 'form-control  form-group' ,:style => "width:40%;"%>
      <%= submit_tag "찾아줘!", data: { disable_with: "검색 중..." }, :class =>'btn btn-success', :style =>"width:15%;" %>
    <% end %>
    <div class = "popular_words">
        자주 찾는 검색어 : 서양고전강독, 경영학원론, 노용덕, 박기호
    </div>
  </div> <!-- search_box -->

  <div class = "search_result_box">
    <div class= "dropdown_box">
      <h4><B>학과별로 보기</B></h4>
      <%= render 'dropdown_btns'%>
    </div>
    <div class = "result_table">
      <div class="sort_paginate_ajax" id="searchtables">
          <%= render 'searchtables' %>
      </div> 
    </div>
  </div>

</div> <!-- home_box -->


<script>
   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 
  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>');
  <% end %>
  $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });
});
function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>=2 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>  
       <% else %>
          window.location="<%=root_url%>"
      <% end %>        
  }
</script>



