
 
<div class = "container" style = "width : 105%;
                                  padding-right:0px;
                                  padding-left:0px;
                                  margin-left: 0px;
                                  margin-right: 0px
                                  ">
  <div class="row" id="recent" style = "
                                        margin-left:0;
                                        margin-right:0;
                                        height:220px;
                                        padding-top:60px;
                                        border-bottom:2px solid #eeeeee;
                                        ">
  	<div class = "col-xs-4 col-xs-offset-2">
      <div class = "jumbotron" style = "margin-bottom :0;
                                        padding : 10px;
                                        background-color:white">
        <%= render 'dropdown_btns'%>
        <h5 style = "float:left;
                     margin-right:25%;
                     font-size:17px;"> 오늘의 평가 
          <b id = "v_today_count"><%= @count_of_today %></b>개 
        </h5>
        <h5 style = "font-size:17px"> 총 평가
          <b id = "v_total_count"><%= @valuations.count%></b>개
        </h5>
      </div>
    </div>
  </div>  <!-- row -->
</div>
<!-- test -->
<div class = "row">
  <div class = "col-xs-9 col-xs-offset-2"> 
    <% if @major_name.nil? %>
      <span style = "font-size : 20px;" id = "major_name">
      모든학과의 최근평가     
      </span>
    <% else %>

      <h4><%= @major_name %>의 최근평가</h4>

    <% end %>
  </div>
</div>

<div class = "row">
  

  <div class = "col-xs-9 col-xs-offset-2"> 
    
    <div id="valuationlist">
      <%= render 'home_user' %>
    </div>
  </div>  
</div>




<script>
   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 
  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>')
  <% end %>
  $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });
});
</script>