  <div class="left-container">
  <div class="upper-group">


    <button class="btn btn-default btn-add">

      <i class="glyphicon glyphicon-plus"><B> 추가</B></i>
    </button>

    <button class="btn btn-default btn-copy">
        <i class="glyphicon glyphicon-plus-sign"><B>복사</B></i>
    </button>

  </div>

  <div class="low-group">
        <span class="dropdown timetable_dropdown">
          <button class="btn-share btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="glyphicon glyphicon-share" style="color:white;">
                    <B> 공유</B>
               </i>

               <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" >페이스북 공유</a></li>
            <li><a href="#" id="save_image_locally">이미지 저장 </a></li>
            <li><a href="javascript:;" id="kakao-link-btn"><%=image_tag "talk.png"%>카카오톡 공유</a></li>
          </ul>

        </span>  
      <button class="btn btn-del">
          <i class="glyphicon glyphicon-minus-sign"><B> 삭제</B> </i>
      </button>
      
  </div>
  </div>

  <div class="center-container">
    <div>
       <%= render 'timetables/table_form' %>

    </div>
  </div>


  <div class="right-container">
      <div class = "search_box">
              <%= form_tag rank_path, :method => 'get', :class =>'form-inline rank-form' do %>
                  <%= text_field_tag :search,params[:search], placeholder: :"과목 또는 교수님명을 입력해주세요!", :class => 'form-control  form-group rank-textf',:id=> 'textfield'%>
                  <%= button_tag(type: "submit", class: "btn btn-default btn-search", :id=> 'searchbtn') do %>
                  <i class="glyphicon glyphicon-search"></i>
                  <%end%>
              <% end %>
                 <%= button_tag(class: "btn btn-default btn-favorite") do %>
                  <i class="glyphicon glyphicon-star"></i>
                 <%end %>
          
          
      </div>
    
      <%= render 'search_table', :lectures => @lectures %>

         <!-- 검색 결과 -->
        <% if @lectures.nil? %> 
          <div style = "text-align : center"> 검색결과가 없습니다.. </div>
        <%end%> 
    </div>
  </div>


  <div class = "my_cart_container">
    <div style = "width : 80%">
      <%= render 'timetables/my_cart_table' %>
    </div>
  </div>





  

<script>

  // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('8af2fccfaf9fe878576de125c4ba83eb');

    // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '세종대 강의정보공유 사이트 구경오세요.',
      image: {
        src: 'http://xn--oy1bw5jn8ijte.com/assets/logo2-bfa40186d9f501f9483243509d751037a6da6190d053cef4cc15f1221d3ed4b1.png', //카카오톡에 보여질 이미지 
        width: '300',
        height: '200'
      },
      webButton: {
        text: '아뭐듣지.com',
        url: 'http://xn--oy1bw5jn8ijte.com' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });

  $('.glyphicon-star').click(function (){
     
      textfield.value ="인기강의"
      $("#searchbtn").click();

  });


//이미지 저장하는 코드 
  $('#save_image_locally').click(function() {

      html2canvas($('.target'),
           {
             letterRendering:true,
             logging:true, 
             background:"white",
              onrendered: function(canvas) {
                 var a = document.createElement('a');
                a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
                 a.download = '아뭐듣지시간표.jpg';
                 a.click();
              }

          });
    });
  
</script>






