<div style = "text-align:center; width:500px">
  <table class="table nogap" style= "font-size:1em;">
    <thead>
      <tr align="center" class = "tr_style">
        <th class = "text_head">과목명</th>
        <th class = "text_head">교수</th>
        <th class = "text_head">평균평점</th>
        <th class = "text_head">시간</th>
      </tr>
    </thead>
    <tbody></tbody>   

    <% @lectures.each do |lec| %>
	    <tr>	
			<td class="table_subject">
				<%= lec.subject%>
			</td>
			<td class="tb_unspot" >
				<%=lec.professor%> 
			</td>  
			<td class="total_spot" style = "text-align:center">
				<% if lec.acc_total==0 %>
				평가없음
				<% else %> 
				<%= render 'shared/show_average_star',:var=> lec.acc_total%>
				<div class = "total_text">
				 <%= lec.acc_total.round(1) %>
				</div>
				<% end %> 
			</td>
			<td class = "lecture_time"><%= lec.lecturetime %></td>
		</tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @lectures %>
</div>  


<div class="lessons" style = "width:920px">
	<table class="table table-striped" id = "timetable">
      <thead>
      	<!-- 7열 -->
        <tr class = "t_head">
          <th>시간</th>
          <th>월</th>
          <th>화</th>
          <th>수</th>
          <th>목</th>
          <th>금</th>
          <th>사강</th>
        </tr>
      </thead>

      <tbody>
        <tr class = "r1">
          <th>09:00-09:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "r2">
          <th>09:30-10:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>10:00-10:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>10:30-11:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>11:00-11:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>11:30-12:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>12:00-12:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>12:30-13:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>13:00-13:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>13:30-14:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>14:00-14:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>14:30-15:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>15:00-15:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>15:30-16:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>16:00-16:30</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>16:30-17:00</th>	
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>17:00-17:30</th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>17:30-18:00</th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
		</tbody>
	</table>
</div>


<script>
  timetable = $('#timetable');
  
  // 시간표에 담을 강의를 클릭하면, timetable에서 해당 강의가
  // 속한 행과 열을 결정한다.
	$("tr").click(function(){
		var data = $(this).find('.lecture_time').html();
		
    data = $.split_text(data);
    var row = $.find_time_row(data[1]);
    var col = $.find_day_td(data[0]);

    $.fill_bg(row,col);

	});

  // 강의시간을 요일/시작시간/끝시간 배열 3개로 쪼개서 return
  $.split_text = function(data) 
  {
    // replace에서의 day를 1개 요일 vs 2개 요일로 비교해서 값을 따로 줘야한다.

    // 요일이 1개 ex)화 인경우
    if (data.length <= 12)
    {
      day = data[0];
    }
    // 요일이 2개 ex)화목 인 경우
    else if (data.length <= 13)
    {
      day = data[0]+data[1];
    }
    else{}

    data = data.replace(day,day+"-");
    data = data.split('-');   
    
    return data;
  }


  // timetable에서 강의 시간(행)을 찾습니다.
  $.find_time_row = function (s_time)
  { 
    // timetable = document.getElementById('time_table');
    rows = timetable.find('tbody th');
    //for(i=0; i<16; i++) {
      //timetable.rows[i]
      //test = timetable.find('tr th:nth-child(1)').html();
      //timetable.find('tbody tr:nth-child(i)').find('th').html();

      // javascript 써야함. 왜냐하면 jquery 쓰게되면 tr을 
      //console.log(test);
    //}
      //console.log(s_time);
    var row_num;
    rows.each(function(){
      row_each_time = $(this).html().split("-");
      
      if( s_time == row_each_time[0] ){
        //$(this).css('background', 'black');

        row_num = rows.index(this);
        console.log(row_num);

      }
      else {
        
      }
    });
    return row_num+1;
  }

  // 요일을 기준으로 몇열에 해당하는지 찾아 열값을 리턴.
  $.find_day_td = function(day)
  {
    t_datas = timetable.find('thead th'); 
    var td_num;
    t_datas.each(function() {
      td_each_data = $(this).html();
      
      if (td_each_data == day){
        td_num = t_datas.index(this);
      } 
      else{

      }
    });
    // nth:child 때문에 열값에 +1을 해야됨.
    return td_num+1;
  }

  // 인자로 받은 시간/요일을 기준으로 background 채웁니다.
  $.fill_bg = function(row,col)
  { 
    row_num = row+")";
    col_num = col+")";
    
    time_row = timetable.find('tbody tr:nth-child('+row_num);
    lecture_cell = time_row.find('td:nth-child('+col_num);

    lecture_cell.css('background','green');
  }

</script>















