<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div style = "margin-bottom:15px;">
      <h1 style = "text-align:center;">Log in</h1>
    </div>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn" %>

    <% end %>
      <%=link_to "Facebook으로 1초만에 로그인하기","/auth/facebook", class: "btn btn-primary fb_btn "%>

      <%= link_to "id로 10초만에 로그인하기", signup_path, class: "btn btn-success email_btn" %>
  </div>
</div>