
<div class="container-fluid">

	<div class = "row detail_lecture_row">
		<div class="col-xs-3 "></div>

		<div class="col-xs-6 detail_lecture_box">
			
			<div class = "professor_section">
				<h2 class="inline-blk"> <%= @lecture.subject %> </h2>
				 <span><%= @lecture.professor %> 교수님</span>

				<div style = "float : right; margin-top:30px">
				 	<span style = "color :blue;">
				 		총 <%= @valuations.count%>명 
				 	</span>
				 		평가
		 		</div>
			</div>

			<!-- 1번째 줄 -->


				<div class = "total_star" style = "float:left">
					<div class = "left">
						 총평
					</div> 
					
					<div class = "right">
						<span><%= @lecture.acc_total.round(2)%></span>
					</div>

					<div class = "valuation_star" >
						<%= render 'shared/show_star', :var => @lecture.acc_total %>
					</div>

				</div>

				<div class = "valuation_section">
					<div class = "left">
						난이도
					</div>
					<div class = "right">
						<%= @lecture.acc_level.round(2) %>
					</div>
					<div class = "progress" id = "acc_progress">
						<%= render 'shared/show_average_bar', :var => @lecture.acc_level, color: "info"%>
					</div>


				</div>

			<!-- 1번째 줄 -->


			<!-- 2번째 줄 -->
				<div class = "valuation_section">
					<div class = "left">
						학점
					</div>

					<!-- <div style = "margin-left:10px; float:right;"> -->
						<!--%= @lecture.acc_grade %-->
					<div class = "right">
						<%= @lecture.acc_grade.round(2) %>
					</div>

					<div class = "progress" id = "acc_progress">
						<%= render 'shared/show_average_bar', :var => @lecture.acc_grade, color: "success"%>
					</div>

				</div>

				<div class = "valuation_section">
					<div class = "left">
						공부양
					</div>
					
					<div class = "right">
						<%= @lecture.acc_workload.round(2) %>
					</div>

					<div class = "progress" id = "acc_progress">
						<%= render 'shared/show_average_bar', :var => @lecture.acc_workload, color: "warning"%>
					</div>
					
				</div>

			<!-- </div> -->
			<!-- 2번째 줄 -->


				<div class = "valuation_section">
					<div class = "left">
						과제양
					</div>

					<div class = "right">
						<%= @lecture.acc_homework.round(2) %>
					</div>

					<div class = "progress" id = "acc_progress">
						<%= render 'shared/show_average_bar', :var => @lecture.acc_homework, color: "danger"%>
					</div>
					
				</div>

				<div  class = "valuation_section">
					<div class = "left">
						성취감
					</div>
					<div class = "right">
						<%= @lecture.acc_achievement.round(2) %>
					</div>
					<div class = "progress" id = "acc_progress">
						<%= render 'shared/show_average_bar', :var => @lecture.acc_achievement, color: "info"%>
					</div>
					
				</div>


			<div style = "text-align : center">
				<% if current_user.valuations.find_by(lecture_id: @lecture.id) %>
					<div class = "btn btn-success"> 평가 하셨습니다. </div>
				<% else %>
					<div>
						<%= link_to '평가하기',  writtingform_lecture_path(@lecture), class: "btn btn-danger"%>
					</div>
				<% end %>
			</div>

		</div><!-- /.col-md-6 -->

		
	</div>
</div>










	

	<div class = "row row_pd_top" style = "margin-top : 60px;">
		<div class = "col-md-9 col-md-offset-3">
			<h3 class = "text_gray"> 이 강의에 대한 평가들 </h3>
		</div>
	</div>

	  <% @valuations.each do |v| %>
		<div class = "row row_pd_top"  style = "
	    padding-top: 0px;
	    height: 220px;
	    margin-left: 0px;
	    margin-right: 0px;
		">
		
		
		<div class = "col-xs-9 col-xs-offset-3">
    		<%= render 'static_pages/display_lectures', :v => v %>
		</div>
    	
    </div>
    
  <% end %> 


