<div class = "row">
	<div class="col-md-2"></div>

	<div class="col-md-8">
		<div class="page-header">


			<h2 class="inline-blk"> <%= @lecture.subject %> </h2> <span><%= @lecture.major%></span>
				<%= render 'lectures/sidebar' %> 
			<p class="lead">
				<%= @lecture.professor %></p>

			<div class="xtachi_form align-center">
				<%= render 'lectures/xtachi' %> 

			</div>
		</div>
	

		<div class="comment-box">
			
			<ol class= "comments">
				<%= render @comments %>
			</ol>
			<%= render 'shared/comment_form' %>
		</div>

	</div><!-- /.col-md-8 -->
			
<div class="col-md-2"></div>
