<li id = "comment-<%=comment.id%>">
	<% if comment %>
	
		<span class = "user"> <%= comment.user.nickname %> </span>
		<br>
		<span class = "comment"> <%= comment.content %> </span>
		<span class = "timestamp"> 
			<%= comment.timestamp_division%>
		</span>

		<br>
		
		
		<span><%= comment.likedcount.to_s %></span>


		<% if current_user?(comment.user) %>
			<%= link_to '편집', edit_comment_path(comment.id), remote: true, class: 'comment_edit_btn' %>
			<%= link_to '삭제', comment_path(comment.id), method: :delete, remote: true, data:
			{confirm: "댓글 지울꺼에요?"}, class: 'comment_edit_btn' %>

		<% end %>
	<% end %>
</li>


