<li id = "comment-<%=comment.id%>">
	<% if comment %>
	
		<span class = "user"> <%= comment.user.nickname %> </span>
		<br>
		<span class = "comment"> <%= comment.content %> </span>
		<span class = "timestamp"><%= comment.created_at.strftime("%m/%d %H:%m") %> </span>
		<br>
		
		<% if current_user?(comment.user) %>
			<%= link_to 'Edit', edit_comment_path(comment.id), remote: true, class: 'comment_edit_btn' %> 
		<% end %>
	<% end %>
</li>