<li id = "comment-<%=comment.id%>">
	<% if comment %>
	<ul>
		<li><span class = "user"> <%= comment.user.nickname %> </span></li>
		<br>
		<li><span class = "comment"> <%= comment.content %> </span></li>
		<li><span class = "timestamp"> 
			<%= comment.timestamp_division%>
		</span></li>

		<br>

		
		<li id="<%=comment.id%>-comment_valuation">
			<% unless logged_in_user? %>
					<%= render 'comment_valuations/also', :comment => comment %>
			<% else %>
				<% if current_user.comment_valuations.find_by(comment_id: comment.id) %>
					<%= render 'comment_valuations/unalso', :comment => comment%>
				<% else %>
					<%= render 'comment_valuations/also', :comment => comment %>
				<% end %>
			<% end %>
		</li>


		<span id = "<%=comment.id%>-liked_num">
			<%= comment.likedcount.to_s %>
		</span>


		<% if current_user?(comment.user) %>
			<%= link_to '편집', edit_comment_path(comment.id), remote: true, class: 'comment_edit_btn' %>
			<%= link_to '삭제', comment_path(comment.id), method: :delete, remote: true, data:
			{confirm: "댓글 지울꺼에요?"}, class: 'comment_edit_btn' %>

		<% end %>
	</ul>
	<% end %>
</li>


