<!DOCTYPE html>
<html>
<head>
  <title>TimetableApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body>
  
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  	
   
      
       
      		<p class="navbar-text"><a href="/" class="navbar-link">세종대 강의 평가</a></p>
      
      	<% if(user_signed_in?)%>
        <p class="navbar-text navbar-right" ><%= link_to "Log out", login_path, method: :delete %></p>
       <p class="navbar-text navbar-right" ><%= link_to current_user.nickname, edit_user_path(id: current_user.id) %>
     
        <% else %>
        
          <p class="navbar-text navbar-right" ><%= link_to "Log in", login_path %></p>
          <p class="navbar-text navbar-right"><%= link_to "Sign up", new_user_path %></p>
        <%end%>

  

        </div><!-- /.container-fluid -->

    </nav>

  </div><!-- /.col-md-10 -->

  <div class="col-md-1"></div>


</div> <!-- /.row --> 

 
<%= yield %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<%= debug(params) if Rails.env.development? %>

</div> 
<div class="col-md-3"></div>
</div>

  
</body>
</html>
