
   <div class="row">
        <div class="col-md-3">
          <div id="form1">
    <%= form_tag timetable_user_path, :method => 'get', remote: true do %>
     
     <%= text_field_tag :search, params[:search], placeholder: :"강의명 혹은 학과명을 입력해주세요." %>
         <%= submit_tag "찾아줘!", :subejct => nil %>
     
    <% end %>
        </div>
        	 <div class="table-responsive sort_paginate_ajax" id="lecturetables">
        	<%=render 'shared/lecturetables'%>

          
    		</div>	
    			
		 </div> 	
			<%=render 'shared/timetable'%>


		<button id="save_image_locally">
		 시간표 다운로드
		 </button>

    </div>



<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf-8">
/*timetable 클릭시*/
function TimetableClick(table_td)
{
	if(table_td.innerHTML!="")
	{
		var answer = confirm(table_td.innerHTML+" 시간표를 지우시겠어요?");
		if(answer)
		{
			var subject=table_td.innerHTML
			
			$.ajax({
				url:'/delete_timetable',
				type:'post',
				data:{
					'lecture_subject':subject
					},
				success: function(){
				window.location="<%=timetable_user_path(current_user.id)%>";
				},
				error:function(){
								alert('error')
							}
			});


		}
		else
		{

		}
	}
}

$(document).ready(function()
{
		var timetable=document.getElementById('time_table')
		var timeTableNumber= <%= @timetables.count %>;

		var color = new Array();
		color[0]="blue";
		color[1]="yellow";
		color[2]="orange";
		color[3]="green";
		color[4]="red";
		color[5]="brown";
		color[6]="purple";
		color[7]="navy";
		var begin_time= new Array();
		var day= new Array();
		var day2= new Array();
		var size= new Array();
		var howoften = new Array();
		var subject = new Array();

		<% @timetables.each_with_index do |time, i| %>
		 	begin_time[<%=i%>]="<%=time.begin_time%>";
		 	day[<%=i%>]="<%=time.day%>";
		 	size[<%=i%>]=<%=time.size%>;
		 	howoften[<%=i%>]=<%=time.howoften%>;
		 	subject[<%=i%>]="<%=Lecture.where(id: time.lecture_id).first.subject%>"
		 	<%unless time.day2.nil? %>  /*한주에 2번 수업일 경우에 */
		 	day2[<%=i%>]="<%=time.day2%>";
		 	<%end%> 

		<%end%> 

		var day_n= new Array();
		var day_n2= new Array();
		/* 요일 계산 */
		for (var i=0; i<timeTableNumber;i++){
			switch(day[i])
			{	
				
				case "월":
				day_n[i]=1;
				break;
				case "화":
				day_n[i]=2;
				break;
				case "수":
				day_n[i]=3;
				break;
				case "목":
				day_n[i]=4;
				break;
				case "금":
				day_n[i]=5;
				break;
			}
		}
		/* 요일 계산 */
		for (var i=0; i<timeTableNumber;i++){
			switch(day2[i])
			{	
				
				case "월":
				day_n2[i]=1;
				break;
				case "화":
				day_n2[i]=2;
				break;
				case "수":
				day_n2[i]=3;
				break;
				case "목":
				day_n2[i]=4;
				break;
				case "금":
				day_n2[i]=5;
				break;
			}
		}

		
		for(var count=0;count<timeTableNumber;count++)
		{

			for(var i=1;i<23;i++)
			{

				if(begin_time[count]==timetable.rows[i].cells[0].innerHTML.substr(0,5))
				{	
					if(howoften[count]==1){
							for(j=0;j<size[count];j++)
							{	
								
								timetable.rows[i+j].cells[day_n[count]].style.backgroundColor=color[count];
								timetable.rows[i+j].cells[day_n[count]].innerHTML=subject[count];
								

							}
					}
					else if(howoften[count]==2){

							for(j=0;j<size[count];j++)
							{
								timetable.rows[i+j].cells[day_n[count]].style.backgroundColor=color[count];
								timetable.rows[i+j].cells[day_n[count]].innerHTML=subject[count];
								timetable.rows[i+j].cells[day_n2[count]].style.backgroundColor=color[count];
								timetable.rows[i+j].cells[day_n2[count]].innerHTML=subject[count];
							}


					}
				}
		
			}
		}
		
});


var clicked=0; //눌렸는지 여부 
$('#save_image_locally').click(function() {

	html2canvas($('#target'),
			 {
			 	 letterRendering:true,
			 	 logging:true, 
				 background:"white",
				  onrendered: function(canvas) {
				  	 var a = document.createElement('a');
				    a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
				     a.download = '아뭐듣지시간표.jpg';
				     a.click();
				  }

			});
});


   //pagination using ajax
   $(function() {
$("#lecturetables").on("click", ".pagination a", function(){
    $.getScript(this.href);
    return false;
  });
});




</script>