<% if logged_in_user? %>
<div class ="row">
	<div class="col-md-2 zero-padding-right">
	<span class = "user"> <%= current_user.nickname %> </span>
	</div>
	<div class="col-md-10 zero-padding-left">
	<%= form_for current_user.comments.build, remote: true, class: "comment_submit_btn" do |f| %>
		
		<div class="field comment_submit_btn">
			<%= f.text_area :content, cols: 80, rows: 3, placeholder: "강의에 대하여 간단한 평가를 남겨주세요." %>
		</div>
			<%= hidden_field_tag :lecture_id, @lecture.id %>
		
		<%= f.submit "Post", class: "btn btn-primary comment_submit_btn" %>
		</div>
	</div>
	<% end %>
	<div class="col-md-2"></div>
<% else %>
		<textarea cols=80 rows=3 id='login_comment'> </textarea>
<% end %>


<script>
$(document).ready(function(){
    $('#login_comment').click(function() {gotofacelogin(); });
    $('#login_comment').val("페이스북 로그인을 해주세요.")

  });
function gotofacelogin(){
 	window.location="http://25.25.128.138:3003/auth/facebook"
}
</script>
