<div class="row">
	<div class="col-md-1"></div>   
	<div class="col-md-10" align="left">
<h1> Log in </h1>
<%= form_for :session, url: login_path do |f|  %>

<%= f.label :"이메일" %>
<%= f.email_field :email %> <br>
<%= f.label :"비밀번호" %>
<%= f.password_field :password %> <br>
<%= f.submit :"로그인" %>


<% end %>
	</div> 

	<div class="col-md-1"></div >	 

   

</div>    

