
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
<h1> Sign up </h1> <br><br>
<%= form_for @user do |f|%>

<%= f.label :"이름" %>
<%= f.text_field :name %> <br>

<%= f.label :"이메일" %>
<%= f.email_field :email %><br>

<%= f.label :"비밀번호" %>
<%= f.password_field :password %><br>

<%= f.label :"비밀번호 확인" %>
<%= f.password_field :password_confirmation %><br>

<%= f.submit :submit %>
<% end %>


	</div>

	<div class="col-md-1"></div>
	</div>

