
    <nav class="navbar" role="navigation" >
      <div class="container" id = "navbar_padding_lr">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>home
            <span class="icon-bar"></span>
          </button>

          <!-- QQQQ -->
          <% if current_user && current_user.nickname.nil?%>
            <a class="navbar-brand" href="#" id="header">아뭐듣지</a>
          <% else %>
            <a class="navbar-brand" href="/" id="header">아뭐듣지</a>
          <% end %>

        </div>



        

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style = "margin-left:80px;">

            <% if current_page? controller: 'static_pages', action: 'newsfeed'%>
              <li class ="activate">
                <%= link_to '최근평가', newsfeed_path, class: 'activate'%>
              </li>
              
            <% elsif current_page? controller: 'static_pages', action: 'forcingwritting' %>
              <li>
                <%= link_to '최근평가', newsfeed_path%>
              </li>
              

            <% else %>
              <li>
                <%= link_to '최근평가', newsfeed_path%>
              </li>

            <% end %>

              <li class="nav navbar-nav navbar-form">
              <%= form_tag root_path, :method => 'get', :class =>'form-inline' do %>
                    <%= text_field_tag :search, params[:search], placeholder: :"과목,교수님명을 입력해주세요." ,:class => 'form-control  form-group' ,:style => "width:150%;;"%>
              
              <% end %>
              </li>
          </ul>

      
          


          <ul class="nav navbar-nav navbar-right" style = "margin-right : 0">   
            <% if current_user %>

                <% unless current_user.nickname.nil? %>
                  <div id = "navbar_margin_top">
                    <li> <span id = "navbar_hello_color">
                    <%= link_to current_user.nickname + " ", edit_user_path(current_user), class: "in-blk" %>  님   <a href="/signout"
                    id = "navbar_hello_color">logout </a></span>
                    
                    </li>
                  </div>
                <% end %>

            <% else %>
              <div id ="navbar_margin_top">
                <li> 
                  <a href = "<%= login_path%>" id = "navbar_hello_color">로그인</a>
                </li>
              </div>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>


    </nav>
