<!DOCTYPE html>
<html >
<head >

 <meta http-equiv="contentType" type="text/html" charset="euc-kr" />
  <%= favicon_link_tag 'favicon.ico'%>
  <%= favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon', type: 'image/png'%>
  <link rel="stylesheet" href="/assets/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title >아뭐듣지</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Test -->  
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>
 
  <%= render 'layouts/header' %>
    
  <!-- flash 메세지 출력 -->  

  <div class = "alert-container">

  </div>
 
  <div>
     <%= yield %>
  </div>
  <aside>

  </aside>

  <div class = "footer">
      <%= render 'layouts/footer' %>
  </div>


</body>

</html>
