<!DOCTYPE html>
<html >
<head >
<%= favicon_link_tag 'favicon.ico' %>
 <meta http-equiv="contentType" type="text/html" charset="euc-kr" />
  <%= favicon_link_tag 'favicon.ico'%>
  <%= favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon', type: 'image/png'%>

  <title >아뭐듣지</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Test -->  
  
</head>

<body>
 
  <%= render 'layouts/header' %>
    
  <!-- flash 메세지 출력 -->  
  <div class = "alert-container">

  </div>

  <div>
     <%= yield %>
  </div>
<aside>

</aside>

<div class = "container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <%= render 'layouts/footer' %>
    </div> 
    <div class="col-sm-3"></div>
  </div>
</div>


</body>

</html>
